.is-background {
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.border-left {
    border: 1px solid transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}